body {

    background: rgba(40, 40, 230, 0.397);
    font: normal 20px Arial;

}

header{
    color: white;
    text-align: center;
}

section{

    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: 400px;
    margin: auto;
    box-shadow: 7px 7px 10px rgba(17, 4, 4, 0.535);    
}

footer{
    text-align: center ;
    font-style: italic;

}