body{
    background: rgba(75, 75, 75, 0.349);
    font: normal 15pt Arial;

} 

header{

    color: rgb(0, 0, 0);
    text-align: center;

}

section{

    background: white;
    border-radius: 10px ;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.411);
}


footer{
    text-align:center;
    font-style: italic;


}